<!doctype html>
<html>
  <head>
    <title>Chat App!!</title>
    <link rel="stylesheet" type="text/css" href="/css/chatPage.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <script type="application/javascript" src="/js/chats.js"></script>
  </head>

  <body>
      <div id="main"></div>
  </body>
</html>
