<!doctype html>
<html>
    <head>
        <title>Welcome to chatApp</title>
        <link rel="stylesheet" type="text/css" href="/css/auth.css">
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script type="application/javascript" src="/js/auth.js"></script>
    </head>
    <body>

        <div class="loginBar">
          <div class="appLogo">
            <p>Chat App</p>
          </div>
          <div class="loginForm">
            <form action="/auth/login" method="post">
              <table>
                  <tr>
                      <td>Username</td>
                      <td>Password</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>
                        <input id="userNameLogin" type="text" autocomplete="off" placeholder="your nick">
                      </td>
                      <td>
                        <input id="passwordLogin" type="password" name="password" autocomplete="off" placeholder="your password">
                      </td>
                      <td>
                        <input id="login" type="submit" value="LogIn">
                      <td>
                  </tr>
                  <tr>
                      <td><a style="text-decoration:none;font-size:12px" href="/auth/lostPassword">Forgot Passowrd?</a></td>
                      <td><a style="text-decoration:none;font-size:12px" href="/auth/register">New User?</a></td>
                  </tr>
              </table>
            </form>
          </div>
        </div>
    </body>
</html>
