* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4 {
  color : blue
}

body {
  font: 13px Helvetica, Arial;
}

.usersBox {
  background-color: beige;
  position: fixed;
  z-index: -1;
  width: 20%;
  height: 100%;
  padding: 10px;
}

.chatBox {
  width: 80%;
  margin-left: 20%;
}

.chatUtils {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chatUtils input {
  border: 0;
  padding: 10px;
  width: 60%;
  margin-right: .5%;
}

.chatUtils button {
  width: 9.5%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#logout {
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}
